<p id="notice"><%= notice %></p>

<h1>Listing Year Objs</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Murder</th>
      <th>Shoot</th>
      <th>Stab</th>
      <th>Kill</th>
      <th>Steal</th>
      <th>Rape</th>
      <th>Thug</th>
      <th>Trigger</th>
      <th>Gang</th>
      <th>Gun</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @year_objs.each do |year_obj| %>
      <tr>
        <td><%= year_obj.num %></td>
        <td><%= year_obj.murder %></td>
        <td><%= year_obj.shoot %></td>
        <td><%= year_obj.stab %></td>
        <td><%= year_obj.kill %></td>
        <td><%= year_obj.steal %></td>
        <td><%= year_obj.rape %></td>
        <td><%= year_obj.thug %></td>
        <td><%= year_obj.trigger %></td>
        <td><%= year_obj.gang %></td>
        <td><%= year_obj.gun %></td>
        <td><%= year_obj.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Graph View', graph_year_objs_path %> |
<%= link_to 'See All Songs', songs_path %>
