<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Murder</th>
      <th>Shoot</th>
      <th>Stab</th>
      <th>Kill</th>
      <th>Steal</th>
      <th>Rape</th>
      <th>Thug</th>
      <th>Trigger</th>
      <th>Gang</th>
      <th>Gun</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% year_num = 1985 %>

    <%[@songs_1985, @songs_1986, @songs_1987, @songs_1988, @songs_1989, @songs_1990, @songs_1991, @songs_1992, @songs_1993, @songs_1994, @songs_1995].each do |year|%>
      <tr>
        <td><%= year_num.to_s %></td>
        
        <% year_num += 1 %>
        
        <% murder_count = 0 %>
        <% shoot_count = 0 %>
        <% stab_count = 0 %>
        <% kill_count = 0 %>
        <% steal_count = 0 %>
        <% rape_count = 0 %>
        <% thug_count = 0 %>
        <% trigger_count = 0 %>
        <% gang_count = 0 %>
        <% gun_count = 0 %>
        <% total_count = 0 %>

        <% year.each do |song| %>
          <% murder_count += song.wordchecker[0][-1].to_i %>
          <% shoot_count += song.wordchecker[1][-1].to_i %>
          <% stab_count += song.wordchecker[2][-1].to_i %>
          <% kill_count += song.wordchecker[3][-1].to_i %>
          <% steal_count += song.wordchecker[4][-1].to_i %>
          <% rape_count += song.wordchecker[5][-1].to_i %>
          <% thug_count += song.wordchecker[6][-1].to_i %>
          <% trigger_count += song.wordchecker[7][-1].to_i %>
          <% gang_count += song.wordchecker[8][-1].to_i %>
          <% gun_count += song.wordchecker[9][-1].to_i %>
          <% total_count += song.wordchecker[10][-1].to_i %>
        <% end %>
        
        <td><%= murder_count %></td>
        <td><%= shoot_count %></td>
        <td><%= stab_count %></td>
        <td><%= kill_count %></td>
        <td><%= steal_count %></td>
        <td><%= rape_count %></td>
        <td><%= thug_count %></td>
        <td><%= trigger_count %></td>
        <td><%= gang_count %></td>
        <td><%= gun_count %></td>
        <td><%= total_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>